.todo-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.todo-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f7f7f7;
    transition: background-color 0.2s ease;
}

.todo-item:hover {
    background-color: #e8e8e8;
}

.todo-item.completed .completion-details {
    color: #6c6c6c;
    font-style: italic;
    margin-left: auto;
    padding-right: 5px;
}

.todo-item.completed {
    color: #6c6c6c;
}

.add-todo-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.add-todo-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add-todo-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #6c6c6c;
}

.add-todo-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.checkmark-button {
    background-color: transparent;
    border: 2px solid #6c6c6c;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.checkmark-button:hover {
    background-color: #45a049;
    color: #fff;
}

.checkmark-button.completed {
    background-color: #4caf50;
    border-color: #6c6c6c;
    color: #fff;
}

.completed {
    background-color: #c1e6c1;
}

.remove-item {
    background-color: transparent;
    border: 2px solid #6c6c6c;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.remove-item:hover {
    background-color: #f44336;
    color: #fff;
}

.item-text {
    padding-left: 8px;
    color: #000;
}